/* Tailwind CSS language mode */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  h1 {
    @apply text-2xl mt-2 mb-2 font-bold;
  }
  h2 {
    @apply text-xl mt-2 mb-2 font-bold;
  }
  h3 {
    @apply text-lg mt-2 mb-2 font-bold;
  }
  h4 {
    @apply mt-2 mb-2 text-sm ;
  }
  h5 {
    @apply text-xs font-thin;
  }
  h6 {
    @apply text-xs font-bold;
  }
  a {
    @apply text-blue-600 underline;
  }

  .thin-head {
    @apply text-5xl font-thin;
  }

  .thin-subhead {
    @apply text-2xl font-thin;
  }

  .form-container {
    @apply p-2 shadow-lg flex flex-row w-full sm:w-80 h-full flex-wrap gap-2 bg-white rounded-lg ring-2 ring-gray-400 mt-8 mb-8
  }

  .form-button {
    @apply bg-pink-500 w-full text-white p-2 text-center rounded-lg shadow-lg hover:bg-blue-500 cursor-pointer
  }

  li {
    @apply list-disc ml-4;
  }

  .scene-el {
    @apply text-red-500
  }

  button.is_active {
    background: rgb(215, 12, 12);
    padding: 2px 3px;
    border-radius: 2px;
  }


}



.gyroscope-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.gyroscope-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.gyroscope-label {
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
}




.compass-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.compass-rose {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-image: url("/img/compass_rose.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.compass-direction {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compass-direction:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
}

.compass-north {
  /* position: absolute;
  top: -50%;
  left: 50%;
  width: 10px;
  height: 50%;
  background-color: #ff0000;
  transform: translateX(-50%);
  z-index: -2; */

  position: absolute;
  width: 0;
  height: 0;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 30px 20px 0 20px;
  border-color: red transparent transparent transparent;
  z-index: 1;
}




.tag-cloud {
  cursor: pointer;
  margin-top: 5px;
  position: relative;
}

.tag-cloud__item {
  font-weight: 800;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  transition: all 0.1s;
  will-change: transform, opacity, filter;
}



.banner {
  position: relative;
  width: 100%;
  height: 400px;
  background: #f1f1f1;
  overflow: hidden;
}
.banner .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}
.banner p {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}
.banner .cta-button {
  display: inline-block;
  background-color: #f1592a;
  color: #fff;
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.banner .cta-button:hover {
  background-color: #d44218;
}

@keyframes matrix {
  0% {
    content: '';
  }
  5% {
    content: 's';
  }
  10% {
    content: 'sh';
  }
  15% {
    content: 'sh4';
  }
  25% {
    content: 'sh4o';
  }
  35% {
    content: 'sh4om';
  }
  50% {
    content: 'shivom';
  }
  75% {
    content: 'sh{iv}ॐ';
  }
  90% {
    content: 'sh{४}ॐ';
  }
  100% {
    content: 'shivom';
  }

  /* Continue adding characters gradually */
  /* Adjust the timing and characters to your liking */
}

.animate-matrix::after {
  content: '';
  animation: matrix 1s steps(20) infinite;
}


.planet-orbits {
  width: 200px;
  height: 200px;
  position: relative;
}

.orbit {
  width: 100%;
  height: 100%;
  border: 1px dashed gray;
  border-radius: 50%;
  position: relative;
  animation: orbit-rotation 10s linear infinite;
}

@keyframes orbit-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet {
  width: 20px;
  height: 20px;
  background-color: #ffdd57;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: calc(50% - 10px);
}


.transition-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}


.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.chat-message {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.message-sender {
  font-weight: bold;
}

.message-content {
  margin-top: 5px;
}


.spinning-wheel {
  text-align: center;
}

.wheel {
  width: 200px;
  height: 200px;
  background-color: #f1f1f1;
  border-radius: 50%;
  margin: 20px auto;
  transition: transform 3s ease-in-out;
}

.spin {
  animation: spin-animation 3s infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reward {
  font-size: 24px;
  margin: 20px auto;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}



.promotional-post {
  opacity: 0;
  transition: opacity 0.5s;
}

.promotional-post.fade-in {
  opacity: 1;
}

.post-content {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0066cc;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #004499;
}